// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, header, main {
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 100vw;
    overflow-x: hidden;
}


a.navbar-brand {
    font-family: 'Lalezar', cursive;
}

.posts-list {
    list-style: none;
}


.background-image {
    background: bottom center url('../resources/images/profile.jpg') no-repeat, linear-gradient(to top right, rgba(	244, 67, 54, 0.7), rgba(236, 51, 55, 0.7));
    background-blend-mode: multiply;
    background-size: cover;

    div {
        color: white;

        h1 {
            font-weight: bold;
            text-shadow: 0px 5px 10px #af2424;
            width: 50%;
        }

    }



}

@media only screen and (min-width: 768px) {

    nav {
        margin: 0 2rem;
    }

    #navbarNav {
        justify-content: flex-end;
    }

    main {

        .jumbotron-fluid {
            padding-top: 0.5rem;
            padding-bottom: 1rem;

            h1, p {
                margin: 0;
            }
        }
    }

    .posts-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        justify-items: center;
    }

    .background-image {
        background: linear-gradient(to top left, rgba(	244, 67, 54, 0.7), rgba(236, 51, 55, 1));
    }
}


