// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, header, main {
    font-family: 'Roboto', sans-serif;
    min-width: 100vw;
    overflow-x: hidden;
}

p, span {
    font-family: 'Merriweather', serif;
}

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-title {
    font-weight: bold;
}

.btn-primary {
    background: #283E51;
}

// global nav

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

a.navbar-brand {
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top left, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top left, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1.25rem 0.25rem 0 1.25rem;
}

.navbar-light .navbar-toggler {
    border: none;
    color: #fff;

    .navbar-toggler-icon {
        font-size: 1.5rem;
    }

}

// global header

.global-banner {
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    padding: 1.125rem;

    h1 {
        font-weight: bold;
    }

}

.menu-item {
    display: flex;
    align-items: center;

    .menu-link {
        color: #000;
        font-size: 1.5rem;
        margin: 0 0.5rem;
    }

}

.jumbotron {
    padding: 0;
}

.jumbotron-fluid {
    margin: 1rem 0 5rem;
}

.blog-intro, .project-intro, .about-intro, .contact-intro, #posts, #portfolio-items {

    h2 {
        font-size: 3rem;
        font-weight: 700;
        margin: 1rem 0;
    }

    p {
        color: #000;
    }

    p.lead {
        font-size: 1.33rem;
        margin: 1rem 0;
    }

    a {
        text-decoration: none;
    }

}

// card theme

.card {

    .card-body {

        .card-title {
            color:  #000;
            font-size: 1.5rem;
        }

        .card-text {
            color:  #000;
            font-size: 1rem;
        }

    }

}

// home page blog section

.posts-list {
    list-style: none;
    margin: 1rem 0 5rem 0;

    li {
        margin: 1rem 0;
    }

}

.post-card {
    margin: 2rem 0;
}

.post-edit-header {
    border-top: 1px solid black;
    padding: 2rem 4rem 0;
}

// portfolio section (homepage)


.portfolio-items-card .card {
    background: none;
    border: none;

    img {
        margin: 1rem 0;
    }

    .card-body {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

}

// About section (homepage)

.about-intro {
    background: #fff;

    a {
        padding: 2rem 0;
    }

}

.about-intro, .contact-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-intro .card, .contact-intro .card {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        box-shadow: 2px 2px 8px #000428;
        border-radius: 50%;
        width: 50%;
    }

}


@media only screen and (min-width: 768px) {

    nav {
        margin: 0 2rem;
    }

    .navbar-nav {

        li {
            font-size: 1.33rem;
            margin: 0 1.5rem;
        }

    }

    #navbarNav {
        justify-content: flex-end;
    }

    main {

        .jumbotron-fluid {

            h1, p {
                margin: 0;
            }
        }
    }

    .global-banner {
        padding: 1rem 3rem;
    }

    .posts-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        justify-items: center;

        li {
            min-width: 100%;
        }
    }

    // Blog page

#posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    justify-items: center;
    list-style-type: none;
}

// Portfolio page

#portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    justify-items: center;
    list-style-type: none;
}

// Contact page

#contact {
    display: flex;
    justify-content: space-around;

    form {
        min-width: 30vw;
    }

}

// About section and contact page

.about-intro {
    background: #fff;

    a {
        padding: 2rem 0;
    }

}

.about-intro, .contact-intro {
    display: flex;
    justify-content: center;
}

.about-intro .card, .contact-intro .card {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30vw;

    img {
        box-shadow: 2px 2px 8px #000428;
        border-radius: 50%;
        width: 50%;
    }

}


}

